<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>chirper</title>
    <style media="screen">

      .purple_text {
        color: purple;
      }
      .sans_serif {
        font-family: sans-serif;

      }
    </style>
  </head>
  <body>
     <div class="container">



        <h1 class="sans_serif">Welcome to the site</h1>
        <h2>a little smaller</h2>
        <h3>even smaller</h3>
        <a href="{% url 'favorites_view' %}">football!</a>
        <div class="purple_text">
          This text is purple!

    </div>
  </body>
</html>
